@import url('./style.css');





/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .main__container {
        background: url('../images/background_3.jpg') no-repeat;
        background-attachment: fixed;
    background-position: cover;
    background-size: cover;
    }
    

    /* footer */
    /* footer */
    footer .main__footer {
        margin: auto;
        max-width: 80%;
    }
    footer .main__footer ul{
        width: 80%;
    }
    footer .main__footer li {
        width: 100%;
        padding: 0.5rem 0;
        border-radius: 1.4rem;
        background-color: var(--gray);
    }
    footer .main__footer li .icon{
        width: 4.5rem;
        height: 4.5rem;
        border: 4px var(--text-color) solid;
        background-color: var(--text-color);
    }
    footer .main__footer li .text {
        margin-left: 1.4rem;
        color: var(--text-color);
        font-size: 1.4rem;
    }
}



/* Smartphone */
@media screen and (max-width: 767px) {
    .main__container {
        background-color: #00FA9A;
        background: url('../images/background.jpg') no-repeat;
        background-attachment: fixed;
        background-position: cover;
        background-size: cover;
    }
    .main__container
.container {
    margin: auto;
    width: 100%;
    max-width: 80%;
}

    /* header */
    header .main__header {
        width: 100%;
        padding: 1rem;
    }
    
    header .main__header .menuBar ul li:not(:last-child){
        margin-right: 1.2rem;
    }
    header .main__header .menuBar ul li a{
        font-size: 1rem;
    }
    header .main__header .menuBar ul li a:hover{
        color: #b102b7;
        text-decoration: underline;
    }

    /* main */

    main {
        padding: 1rem;
        border-radius: 1.8rem;
        border: 1px solid rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        
    }

    /* footer */
    footer .main__footer {
        margin: auto;
        max-width: 80%;
    }
    footer .main__footer ul{
        width: 80%;
    }
    footer .main__footer li {
        width: 100%;
        padding: 0.5rem 0;
        border-radius: 1.4rem;
        background-color: var(--gray);
    }
    footer .main__footer li .icon{
        width: 4.5rem;
        height: 4.5rem;
        border: 4px var(--text-color) solid;
        background-color: var(--text-color);
    }
    footer .main__footer li .text {
        margin-left: 1.4rem;
        color: var(--text-color);
        font-size: 1.2rem;
    }
}