
@import url('./fonts.css');
@import url('./respornsive.css');

/*
    
    BLACK       #1A1A1D
    GRAY        #4E4E50
    RED BLACK   #6F2232
    RED PINK    #950740
    RED         #C3073F

    WHITE       #FFFFFF
    BLACK2      #181E27
    RED2        #FE0435

    GREEN       #00FA9A
*/

:root {
    --text-color: #FFFFFF;
    --bg-color: #1A1A1D;
    --gray: #4E4E50;

    --primary: ;
    --pink-color: #950740;
    --red-color: #C3073F;
    --red-color-2: #FE0435;

    --green-color: #00FA9A;

    --rainbow-linear: linear-gradient(to right, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7 );
    --rainbow-conic: conic-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);


    --transition: .8s all ease;
    --transition-2s: .2s all ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
}



body {
    width: 100%;
    /* color: var(--text-color); */
    /* background: var(--bg-color); */
    /* font-family: MonsterGame; */
}


.main__container {
    width: 100%;
    background: url('../images/background_3.jpg') no-repeat;
    background-attachment: fixed;
    background-position: cover;
    background-size: cover;
    z-index: -99999999;
}

.main__container
.container {
    margin: auto;
    width: 100%;
    max-width: 70%;
}

/* Header */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .main__header {
    width: 70%;
    padding: 1.3rem;
}

header .main__header .menuBar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .main__header .menuBar ul li:not(:last-child){
    margin-right: 2rem;
}

header .main__header .menuBar ul li a{
    position: relative;
    color: var(--text-color);
    font-size: 1.2rem;
    font-family: GameBattles;
    transition: var(--transition-2s);
}

header .main__header .menuBar ul li a::before{
    position: absolute;
    content: '';
    /* padding: 1rem; */
    right: 0;
    bottom: 0px;
    width: 0%;
    height: 100%;
    border-radius: .2rem;
    background-color: var(--green-color);
    transition: var(--transition-2s);
    z-index: -1;
}

header .main__header .menuBar ul li a:hover{
    color: var(--red-color-2);
}
header .main__header .menuBar ul li a:hover::before{
    left: -2px;
    width: 102%;
    
}

/* main container */

main {
    margin-top: 3em;
    width: 100%;
    text-align: center;
}


main .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


main .image .cover {
    /* padding: 1rem; */
    overflow: hidden;
    width: 500px;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 1rem;
    /* border: 2px solid RED; */
    /* box-shadow: 0 0 10px 1px var(); */
}


main .image .cover img{
    width: 100%;
}



main .text {
    margin: 2rem 0;
    text-align: center;
    /* font-family: MonsterGame; */
}


main .text h1{
    font-size: 2rem;
    font-family: 'GameBattles';
    color: var(--green-color);
}

main .text h1 span {
    color: var(--red-color-2);
}

main .text #text-p {
    font-size: 1.5rem;
    color: var(--gray);
    font-family: 'MonsterGame';
    text-wrap: nowrap;
}

#AboutJack .text h1 {
    margin-bottom: -1rem;
    color: #4E4E50;
    font-family: 'MargareteDemoRegular';
}
#AboutJack .text #jack {
    font-family: 'StandupsDemoRegular';
}
#AboutJack .text #jack {
    color: var(--red-color-2);
}
#AboutJack .text #text-p {
    font-family: 'StandupsDemoRegular', 'Kh BL LazySmooth';
}
#AboutJack .text #text-p.tp-2{
    color: var(--red-color-2);
    font-size: 2rem;
    font-family: 'Kh BL LazySmooth';
}

#AboutJack .pfBox {
    position: relative;
    margin: auto;
    width: 250px;
    height: 250px;
    /* border: 1px black solid; */
    overflow: hidden;
    border-radius: 50%;
}
#AboutJack  .pfBox::before {
    position: absolute;
    content: '';
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    background: var(--rainbow-conic);
    animation: spin 1.5s infinite linear;
}
@keyframes spin {
    100%{transform: rotate(360deg);}
}
#AboutJack .pfBox::after{
    position: absolute;
    content: '';
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    display: grid;
    place-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: url('../images/pfp_jack.jpg') no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    border-radius: 50%;
}







.outsite__End__Of__Line {
    overflow: hidden;
    position: relative;
    margin: 2rem auto;
    width: 300px;
    height: .8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
    /* border: 1px black solid; */

    /* box-shadow: 0 0 2px cyan; */
}




.End__Of__Line {
    position: absolute;
    width: 180%;
    height: 500px;

    background: var(--rainbow-conic);
    animation: End__Of__Line 1s infinite linear;
}

@keyframes End__Of__Line {
    0%{
        transform: rotate(360deg);
    }
    /* 50%{
        transform: rotate(180deg);
    } */
}



/* footer */

footer  {
    padding: 3em 0;
    width: 100%;
}
footer .main__footer {
    margin: auto;
    max-width: 70%;
    display: grid;
    place-items: center;
}
footer .main__footer ul{
    width: 50%;
    display: grid;
    place-items: center;
}
footer .main__footer li {
    width: 80%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: var(--gray);
}
footer .main__footer li .icon{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    border: 4px var(--text-color) solid;
    background-color: var(--text-color);
}

footer .main__footer li .text {
    margin-left: 2rem;
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: 'Kh BL LazySmooth';
}